.build
.pc
.vscode
.DS_Store #macOs folder cache
*.pyc
*.box
*.deb
/3rd-party
/build/
/dist/
target/
/target-android/
/target-linux/
/target-natlab/
/target-windows/
/ci/bin/d-*
/norddrop/ffi/bindings/*.i
/nat-lab/*.log
/nat-lab/.vagrant
/nat-lab/bin/wireguard-go
/.vagrant
/norddrop/ffi/tests/CMakeFiles
/norddrop/ffi/tests/CMakeCache.txt  
/norddrop/ffi/tests/cmake_install.cmake
/norddrop/ffi/tests/Makefile
/norddrop/ffi/bindings/android/csharp
/norddrop/ffi/bindings/android/go
/norddrop/ffi/bindings/android/wrap/csharp_wrap.c
/norddrop/ffi/bindings/android/wrap/go_wrap.c
/norddrop/ffi/bindings/darwin
/norddrop/ffi/bindings/windows/wrap/go_wrap.c
/norddrop/ffi/bindings/windows/go
/norddrop/ffi/bindings/windows/wrap/java_wrap.c
/norddrop/ffi/bindings/windows/java
/norddrop/ffi/bindings/linux/csharp
/norddrop/ffi/bindings/linux/wrap/csharp_wrap.c
/norddrop/ffi/bindings/linux/java
/norddrop/ffi/bindings/linux/wrap/java_wrap.c
/norddrop/ffi/helpers/go/go.mod
/norddrop/ffi/bindings/darwin/go/go.mod
/norddrop/ffi/bindings/linux/go/go.mod
/norddrop/ffi/bindings/android/go/go.mod
/norddrop/ffi/bindings/windows/go/go.mod
*.sqlite
*.sqlite-shm
*.sqlite-wal
/drop-storage/sqlx-data.json
