name: Lint
on:
  pull_request:
    branches: [dev, main]
  push:
    branches: [dev, main]
jobs:
  lint-rust:
    container: rust:1.64-bullseye
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: 1.64.0
          default: true
          components: clippy
      - name: Install nightly Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          components: rustfmt
      - name: Check code for errors
        uses: actions-rs/cargo@v1
        with:
          command: check
          args: --color always --lib --release
      - name: Check code formatting
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          toolchain: nightly
          args: -- --check --color always
      - name: Run Clippy
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: >
            --color always --lib --release
            --
            --allow unknown-lints
            --deny clippy::let_underscore_must_use
            --deny clippy::unused_async
            --deny clippy::wildcard_imports
            --deny clippy::unwrap_used
            --deny warnings
  lint-python:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Install linters
        run: python3 -m pip install black mypy
      - name: print black version
        run: black --version
      - name: Run black
        run: black --check --diff test/
      - name: Run mypy
        run: mypy test/
