name: Unit tests
run-name: ${{ github.actor }} is running unit tests
on:
  - push
jobs:
  tests:
    runs-on: ubuntu-latest    
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: 1.77.2
          default: true
      - name: Run unit tests
        run: |
          cargo test
